<template name="post">

  <form class="form-horizontal">
    <fieldset>
      <div class="row">
       <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="input-group">
        <textarea class="form-control custom-control" rows="3" style="resize:none" maxlength="250" placeholder="No que você está pensando?"></textarea> <span class="input-group-addon btn btn-primary">
          
          <i class="fa fa-angle-double-right"></i>
          
        </span>
      </div>
    </div>

  </div>
</fieldset>
</form>

</template>