<template name="post">

  <form class="form-horizontal">
    <fieldset>
      <div class="row">
       <div class="col-md-12 col-xs-12 col-sm-12">


         <div class="form-group">
          <div class="input-group">
          <textarea class="form-control" style="resize:vertical;" rows="3" placeholder="No que está pensando?"></textarea>
            <div class="input-group-addon input-post-group">
              <button class="btn btn-success input-post">
                <span class="fa fa-angle-double-right"></span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </fieldset>
</form>

</template>