<template name="timeline">
  <div class="row">
    <fieldset class="col-md-12 col-sm-12 col-xs-12">
      <legend class="white">Últimos posts</legend>
      {{#each posts}}
      <blockquote class="lead">
        <div class="row">
          <div class="col-md-2 col-xs-2 col-sm-2">
            <img class="img img-responsive img-thumbnail avatar-post" src="{{avatar}}" alt="Post Author"/>
          </div>
          <div class="col-md-8 col-xs-8 col-sm-8">
            <small>
             <a class="name-posts" href="/user/{{userId}}">{{name}}</a>
              <span class="very-small"> disse:</span>
            </small>
            <p class="posts">{{message}}</p>
          </div>
        </div>
      </blockquote>
      <hr>
      {{else}}
      <p class="lead text-center white">
        Nenhum post publicado.
      </p>
      {{/each}}
    </fieldset>
  </div>
</template>
